# This is the token for the report script
EDGEE_API_TOKEN_REPORT=sk-edgee-xxx

# This is the tokens for the scenarios
EDGEE_API_TOKEN_NORMAL=sk-edgee-xxx
EDGEE_API_TOKEN_EDGEE=sk-edgee-xxx
EDGEE_API_TOKEN_RTK=sk-edgee-xxx